<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>
        Welcome, please click the button below for cars and shows information
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <button type="button"
              class="btn btn-primary"
              (click)="getCarShows()">Display Car shows</button>
      &nbsp;&nbsp;
      <button type="button"
              class="btn btn-default"
              (click)="reset()">Clear Result</button>
    </div>
  </div>
  <br>
  <div class="alert alert-danger" *ngIf="errorMsg$">
    <strong>Error!</strong> <br> Something bad happened; please contact our friendly support team on 1300 000 000.
    <br> Details: {{errorMsg$}}
  </div>
  <div class='row' *ngIf="carShows$.length>0 || noRecordMsg$">
    <div class='col-md-12'>
      <div class='panel panel-info'>
        <div class='panel-heading'>
          <strong>Result:</strong>
        </div>
        <div class='panel-body'>
          <div class='row' *ngIf="noRecordMsg$">
            <div class='col-md-12'>
              <h4>{{this.noRecordMsg$}}</h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12' *ngFor="let carShow of carShows$">
              <h4>{{carShow.make}} | {{carShow.model}} | {{carShow.shows}}</h4>
            </div>
          </div>
        </div>
        <div class='panel-footer'>
          <div>*'Unknown Show Name' means there is a show the car manufacturer attended that we are unsure about.</div>
          <div>*'Unknown Car Model' means we are unsure which model this car manufacturer sent for the show.</div>
        </div>
      </div>
    </div>
  </div>
</div>
